* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 20px;
    background-color: #a9ca3a;
    color: white;


}

nav span:not(:first-child) {
    margin-left: 30px;
}

.links {
    margin-left: 10%;
}

.herbaimage {
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 65px;
    margin: 30px 0 30px 0;
}

.section {
    margin-left: 10%;
    margin-right: 10%;
}



.product {
    width: 300px;
}

.product img {
    width: 280px;
    height: 260px;
}

.product p {
    margin: 15px 0;
    height: 35px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.slides {
    display: flex;
    justify-content: space-between;
}