* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 20px;
    background-color: #a9ca3a;
    color: white;


}

nav span:not(:first-child) {
    margin-left: 30px;
}

.links {
    margin-left: 10%;
}

.herbaimage {
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font: 65px alice, serif;
    margin-left: 13%;
    margin-top: 11px;
}