* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 20px;
    background-color: #a9ca3a;
    color: white;
}

nav span:not(:first-child) {
    margin-left: 30px;
}

.links {
    margin-left: 10%;
}

.herbaimage {
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 65px;
    margin: 30px 0 30px 0;
}

.section {
    margin-left: 10%;
    margin-right: 10%;
}

.product {
    width: 300px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.product img {
    width: 200px;
    height: 200px;
}

.product p {
    margin: 15px 0;
    height: 35px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.slides {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productimage {
    width: 400px;
    height: 400px;
    margin-left: 30%;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}


.detail {
    margin-right: 30%;
    width: 400px;
}

.mt {
    margin-top: 25px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}

i {
    margin-right: 15px;
}

.count {
    right: -14px;
    bottom: 29px;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 13px;
    background-color: #a9ca3a;
    color: #fff;
    padding: 3px;
    position: relative;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
}
